Source: libboard
Maintainer: Sébastien Fourey <Sebastien.Fourey@unicaen.fr>
Section: graphics
Priority: optional
Standards-Version: 3.9.2
Build-Depends: debhelper (>= 9)

Package: libboard
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: The Board library
 LibBoard C++ library allows the drawing of Postscript, SVG, and FIG (XFig)
 vector graphics using the C++ programming language.
