all
bin/*
!bin/.gitkeep
lib/*
!lib/.gitkeep
obj/*
!obj/.gitkeep
build/*
!build/.gitkeep
*.o
*.a
*.so
Makefile
*~
doc/html
doc/examples
LICENSE.gz
include/BoardConfig.h
CMakeLists.txt.user
CMakeLists.txt.user.*
