all
bin/*
!bin/.gitkeep
lib/*
!lib/.gitkeep
obj/*
!obj/.gitkeep
build/*
!build/.gitkeep
*.o
*.a
*.so
Makefile
*~
doc/html
doc/examples
LICENSE.gz
include/BoardConfig.h
CMakeLists.txt.user
CMakeLists.txt.user.*
cmake_rebuild
examples_clean
examples_images
examples_md
sync_doc
version
version_tag
version_update
